*{
    box-sizing: border-box;
    cursor: default;
    padding: 0;
    margin: 0;
}
@font-face{
 font-family: Odin;
 src: url(imgS/Norse-Bold.otf);
}

html{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    font-size: 14px;
}

aside{
    background-image: url(imgS/david-becker-HQLglOp8FW4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 500px;
}

.logo-img{  
   height: 200px;
   width: 150px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -300px;
    position: fixed;
}
 
.logo-text{
  color: white;
  font-size: 5em;
  font-weight: 1000;
  font-family: 'Odin', serif;
  letter-spacing: 5px;
}